<ng4-loading-spinner></ng4-loading-spinner>
<p>
  <!--<a routerLink='/updateWon'>Add Won</a>-->
  <a routerLink='/updateWon' title="Add Won"><i class="fa fa-plus" aria-hidden="false"> Add Won</i></a>
</p>
<h1>
	Won Details
</h1>
<table>
  <tr>	
	<th style="display: none;">ID</th>
	<th>WON</th>
	<th>WON Description</th>
	<th>WON Type</th>
	<th>Offshore/Onsite</th>
	<th>Active</th>
	<th>End Date</th>
	<th></th>
	<th></th>
  </tr>
  
  	<tr *ngFor="let won of wons">
		<td style="display: none;">{{wons._id}}</td>
		<td>{{won.WON}}</td>
		<td>{{won.WON_DESC}}</td>
		<td>{{won.WON_TYPE}}</td>
		<td>{{won.OFF_ON}}</td>
		<td>{{won.IS_ACTIVE}}</td>
		<td>{{convertISODatetoString(won.END_DATE)}}</td>
		<td (click)="deleteWon(won._id)"><!--<a>DELETE</a>-->
			<a title="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
		</td>
		<td [routerLink]="['/updateWon',won._id]" >
			<!--<a>UPDATE</a>-->
			<a title="Edit"><i class="fa fa-pencil fa-fw"></i></a>
		</td>
		
		
	</tr>
  	
</table>