<ng4-loading-spinner></ng4-loading-spinner>
<p>
  <!--<a routerLink='/updateFpbilling'>Add FP Billing</a>-->
  <a routerLink='/updateFpbilling' title="Add FP Billing"><i class="fa fa-plus" aria-hidden="false"> Add FP Billing</i></a>
</p>
<h1>
	FP Billing Details
</h1>
<table>
  <tr>	
	<th style="display: none;">ID</th>
	<th>WON</th>
	<th>Description</th>	
	<th>Amount</th>	
	<th>Billing Date</th>	
	<th></th>
	<th></th>
  </tr>
  
  	<tr *ngFor="let fpbillings of fpbillings">
		<td style="display: none;">{{fpbillings._id}}</td>
		<td style="width: 5%">{{fpbillings.WON.WON}}-{{fpbillings.WON.WON_DESC}}</td>
		<td style="width: 20%">{{fpbillings.bil_desc_id}}</td>
		<td style="width: 5%">{{fpbillings.bill_amount}}</td>	
		<td style="width: 5%">{{convertISODatetoString(fpbillings.billing_date)}}</td>			
		<td style="width: 2%" (click)="deleteFpbillings(fpbillings._id)"><!--<a>DELETE</a>--><a title="Delete"><i class="fa fa-trash-o fa-lg"></i></a></td>
		<td style="width: 2%" [routerLink]="['/updateFpbilling',fpbillings._id]" ><!--<a>UPDATE</a>--><a title="Edit"><i class="fa fa-pencil fa-fw"></i></a></td>
		
	</tr>
  	
</table>