<ng4-loading-spinner></ng4-loading-spinner>
<!--<a routerLink='/won'>View Won</a>-->
<a routerLink='/won' title="View Won"><i class="fa fa-eye" aria-hidden="true"> View Won</i></a>
<span *ngIf="(this.internalid!==undefined)">
			<!--<a routerLink='/updateWon'>Add Won</a>-->
			<a routerLink='/updateWon' title="Add Won"><i class="fa fa-plus" aria-hidden="false"> Add Won</i></a>
</span>


		<span *ngIf="(this.internalid===undefined)">
			<h1>Add Won</h1>
		</span>
		<span *ngIf="(this.internalid!==undefined)">
			<h1>Update Won</h1>
		</span>		

	<form id="formWon" name="formWon" #data="ngForm" (ngSubmit)="addRecords(data.value)" ngNativeValidate>
		<table>
			<tr>
				<td><label class="required">WON :</label></td>
				<td>
					<span *ngIf="(this.internalid===undefined)">
						<input type="Number" name="WON" id="WON" placeholder="Won Number" required minlength="5" maxlength="10" [(ngModel)]="WON" ngModel (change)="isExist()">
					</span>
					<span *ngIf="(this.internalid!==undefined)">
						<input type="Number" name="WON" id="WON" placeholder="Won Number" required minlength="5" maxlength="10" [(ngModel)]="WON" ngModel disabled="">
					</span>
				</td>
			</tr>
			<tr>			
				<td><label class="required">Description:</label></td>
				<td><input type="text" name="WON_DESC" id="WON_DESC" placeholder="WON Description" [(ngModel)]="WON_DESC" required ngModel></td>
			</tr>
			<tr>
				<td><label class="required">Start Date:</label></td>
				<td>
					<!--<input type="text" name="START_DATE" id="START_DATE" placeholder="WON Start Date" [(ngModel)]="START_DATE" required ngModel>-->
				<input type="Date" name="START_DATE" id="START_DATE" placeholder="WON Start Date" [(ngModel)]="START_DATE" required ngModel>
				</td>
			</tr>
			<tr>
				<td><label class="required">End Date:</label></td>
				<td>
					<input type="date" name="END_DATE" id="END_DATE" placeholder="WON End Date" [(ngModel)]="END_DATE" required ngModel>
				</td>
			</tr>	
			<tr>
				<td><label class="required">WON Type:</label></td>
				<td>
					<span *ngIf="wonProp.WON_TYPE != null">						
		            <select name="WON_TYPE" (change)="selectWonHandler($event)" [(ngModel)]="WON_TYPE" required ngModel>
		                <option value="" selected disabled>Select</option>
		                <option *ngFor="let x of wonProp.WON_TYPE" value={{x.name}} >{{x.name}}</option>
		            </select>
		            </span>		        	
				</td>
			</tr>
			<tr>
				<td><label class="required">Owner:</label></td>
				<td>
					<span *ngIf="wonProp.OWNER_ID != null">
		            <select name="OWNER_ID" (change)="selectOwnerHandler($event)" [(ngModel)]="OWNER_ID" required ngModel>
		                <option value="" selected disabled>Select</option>
		                <option *ngFor="let x of wonProp.OWNER_ID" value={{x._id}}  >{{x.firstname}} {{x.lastname}}</option>
		            </select>
		            </span>		        	
				</td>
			</tr>
			<tr>
				<td><label class="required">On Site/Offshore</label></td>
				<td>
					<span *ngIf="wonProp.OFF_ON != null">
		            <select name="OFF_ON" (change)="selectOffOnHandler($event)" [(ngModel)]="OFF_ON" required ngModel>
		                <option value="" selected disabled>Select</option>
		                <option *ngFor="let x of wonProp.OFF_ON" value={{x.name}} >{{x.name}}</option>
		            </select>
		            </span>		        	
				</td>
			</tr>
			<tr>
				<td><label class="required">Geography :</label></td>
				<td>
					<span *ngIf="wonProp.GEO_ID != null">
			            <select name="GEO_ID" [(ngModel)]="GEO_ID" required ngModel (change)="selectGeoHandler($event)">
			            	<option value="" selected disabled>Select</option>
			                <option *ngFor="let x of wonProp.GEO_ID" value={{x._id}} >{{x.LOCATION}}</option>
			            </select>
			        </span>
				</td>				
			</tr>
			<tr>
				<td><label class="required">Active</label></td>
				<td>
					<span *ngIf="wonProp.IS_ACTIVE != null">
		            <select name="IS_ACTIVE" (change)="selectIsActiveHandler($event)" [(ngModel)]="IS_ACTIVE" required ngModel>
		                <option value="" selected disabled>Select</option>
		                <option *ngFor="let x of wonProp.IS_ACTIVE" value={{x.name}} >{{x.name}}</option>
		            </select>
		            </span>		        	
				</td>
			</tr>
		</table>
		<h3 *ngIf= "isAdded" >{{confirmationString}}</h3>
	<!--<input type="submit" value="Save">-->
	<button type="submit" title="Save"><i class="fa fa-floppy-o"></i> Save</button>
	<span *ngIf="(this.internalid===undefined)">
		<!--<button (click)="clearFields()">Clear</button>-->
		<button type="button" title="Clear" (click)="clearFields()"><i class="fa fa-window-close-o"></i> Clear</button>
	</span>
	</form>	
