<ng4-loading-spinner></ng4-loading-spinner>
<p>
  <!--<a routerLink='/updateUser'>Add User</a>-->
<a routerLink='/updateUser' title="Add User"><i class="fa fa-plus" aria-hidden="false"> Add User</i></a>
 

</p>
<h1>
	User Details
</h1>
<table>
	<tr>
		<th style="display: none;">ID</th>
		<th>User ID</th>
		<th>Employee ID</th>
		<th>Title</th>
		<th>First Name</th>
		<th>Middle Name</th>
		<th>Last Name</th>
		<th></th>
		<th></th>
	</tr>
	<tr *ngFor="let user of users">
		<td style="display: none;">{{user._id}}</td>
		<td>{{user.userid}}</td>
		<td>{{user.employeeid}}</td>
		<td>{{user.title}}</td>
		<td>{{user.firstname}}</td>
		<td>{{user.middlename}}</td>
		<td>{{user.lastname}}</td>
		<td (click)="deleteUser(user._id)">
			<!--<a>DELETE</a>-->
			<a title="Delete User">
  				<i class="fa fa-trash-o fa-lg"></i></a>
		</td>		
		<td [routerLink]="['/updateUser',user._id]" >
			<!--<a>UPDATE</a>-->
			<a title="Edit User"><i class="fa fa-pencil fa-fw"></i></a>
		</td>		
	</tr>

</table>